Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.unclaimed.org/NAUPA-3"
           xmlns="http://www.unclaimed.org/NAUPA-3"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:string">
            <!-- TODO:
                This could probably use some refinement to disallow invalid month/day/year values/combinations, or
                we could just use xs:date.
            -->
            <xs:pattern value="\d{2}[-]\d{2}[-]\d{4}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:decimal">
            <!-- TODO:  Discuss default for totalDigits. -->
            <xs:totalDigits value="12"></xs:totalDigits>
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IndicatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PercentageType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
            <xs:fractionDigits value="3" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CompanyNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="FEINType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SSNType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ForeignTaxIDType">
        <xs:restriction base="xs:string">
            <!-- TODO:  Can foreign tax IDs have non-numeric characters?  How long can they be?-->
            <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="USTelephoneNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ForeignTelephoneNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{7,15}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TelephoneExtensionType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>
    
    <!--Named complex types section _CTS -->
    
    <!-- TODO:
        Review all address fields lengths and figure out what to do w/ NAUPA-III common address type for all
        addresses.
     -->
    <xs:complexType name="USAddressType">
        <xs:sequence>
            <xs:element name="Address1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address2" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address3" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="City">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- TODO:  This is needed for Holders only.  -->
            <xs:element name="County" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StateCode" type="StateCodeType" />
            <xs:element name="ZIPCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{5}(-[0-9]{4})?" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ForeignAddressType">
        <xs:sequence>
            <xs:element name="Address1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address2" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address3" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="City">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- TODO:  This is needed for Holders only.  -->
            <xs:element name="County" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu remitter -->
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ProvinceOrState" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Kelmar "State" value -->
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ForeignPostalCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Kelmar -->
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- TODO:
                In some cases, these country codes do not line up with what is actually used, e.g. "UK" is much more
                commonly used than "GBR" in actual correspondence.  Not sure if that matters here.
             -->
            <xs:element name="CountryCode" type="CountryCodeType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="USCompanyInfoType">
        <xs:sequence>
            <xs:element name="FEIN" type="FEINType" />
            <xs:element name="USAddress" type="USAddressType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ForeignCompanyInfoType">
        <xs:sequence>
            <xs:element name="ForeignTaxID" type="ForeignTaxIDType" />
            <xs:element name="ForeignAddress" type="ForeignAddressType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PersonNameType">
        <xs:sequence>
            <!-- TODO:
                Review this.  The spreadsheet has both Prefix and Title, both free-form, which seems strange.
            -->
            <xs:element name="Prefix" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on FAST -->
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FirstName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu property owner names -->
                        <!-- TODO:  Should this be longer?-->
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MiddleName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu property owner names -->
                        <!-- TODO:  Should this be longer?-->
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LastName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu property owner names -->
                        <!-- TODO:  Should this be longer?-->
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Suffix" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu -->
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TelephoneNumberType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="USTelephoneNumber" type="USTelephoneNumberType" />
                <xs:element name="ForeignTelephoneNumber" type="ForeignTelephoneNumberType" />
            </xs:choice>
            <xs:element name="TelephoneExtension" type="TelephoneExtensionType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="EMailAddressType">
        <xs:restriction base="xs:string">
            <!-- TODO:  review maxLength, I made it up. -->
            <xs:maxLength value="255" />
            <!-- Cribbed from StackOverflow. -->
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StateCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AL" />
            <xs:enumeration value="AK" />
            <xs:enumeration value="AZ" />
            <xs:enumeration value="CA" />
            <xs:enumeration value="CO" />
            <xs:enumeration value="CT" />
            <xs:enumeration value="DE" />
            <xs:enumeration value="DC" />
            <xs:enumeration value="FL" />
            <xs:enumeration value="GA" />
            <xs:enumeration value="HI" />
            <xs:enumeration value="ID" />
            <xs:enumeration value="IL" />
            <xs:enumeration value="IN" />
            <xs:enumeration value="IA" />
            <xs:enumeration value="KS" />
            <xs:enumeration value="KY" />
            <xs:enumeration value="LA" />
            <xs:enumeration value="ME" />
            <xs:enumeration value="MD" />
            <xs:enumeration value="MA" />
            <xs:enumeration value="MI" />
            <xs:enumeration value="MN" />
            <xs:enumeration value="MS" />
            <xs:enumeration value="MO" />
            <xs:enumeration value="MT" />
            <xs:enumeration value="NE" />
            <xs:enumeration value="NV" />
            <xs:enumeration value="NH" />
            <xs:enumeration value="NJ" />
            <xs:enumeration value="NM" />
            <xs:enumeration value="NY" />
            <xs:enumeration value="NC" />
            <xs:enumeration value="ND" />
            <xs:enumeration value="OH" />
            <xs:enumeration value="OK" />
            <xs:enumeration value="OR" />
            <xs:enumeration value="PA" />
            <xs:enumeration value="RI" />
            <xs:enumeration value="SC" />
            <xs:enumeration value="SD" />
            <xs:enumeration value="TN" />
            <xs:enumeration value="TX" />
            <xs:enumeration value="UT" />
            <xs:enumeration value="VT" />
            <xs:enumeration value="VA" />
            <xs:enumeration value="WA" />
            <xs:enumeration value="WV" />
            <xs:enumeration value="WI" />
            <xs:enumeration value="WY" />
            <xs:enumeration value="AS" />
            <xs:enumeration value="GU" />
            <xs:enumeration value="MH" />
            <xs:enumeration value="FM" />
            <xs:enumeration value="MP" />
            <xs:enumeration value="PW" />
            <xs:enumeration value="PR" />
            <xs:enumeration value="VI" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CountryCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFG" />
            <xs:enumeration value="ALA" />
            <xs:enumeration value="DEU" />
            <!-- TODO:  finish formatting these
            ALB
            DZA
            ASM
            AND
            AGO
            AIA
            ATA
            ATG
            ARG
            ARM
            ABW
            AUS
            AUT
            AZE
            BHS
            BHR
            BGD
            BRB
            BLR
            BEL
            BLZ
            BEN
            BMU
            BTN
            BOL
            BIH
            BWA
            BVT
            BRA
            VGB
            IOT
            BRN
            BGR
            BFA
            BDI
            KHM
            CMR
            CAN
            CPV
            CYM
            CAF
            TCD
            CHL
            CHN
            HKG
            MAC
            CXR
            CCK
            COL
            COM
            COG
            COD
            COK
            CRI
            CIV
            HRV
            CUB
            CYP
            CZE
            DNK
            DJI
            DMA
            DOM
            ECU
            EGY
            SLV
            GNQ
            ERI
            EST
            ETH
            FLK
            FRO
            FJI
            FIN
            FRA
            GUF
            PYF
            ATF
            GAB
            GMB
            GEO
            DEU
            GHA
            GIB
            GRC
            GRL
            GRD
            GLP
            GUM
            GTM
            GGY
            GIN
            GNB
            GUY
            HTI
            HMD
            VAT
            HND
            HUN
            ISL
            IND
            IDN
            IRN
            IRQ
            IRL
            IMN
            ISR
            ITA
            JAM
            JPN
            JEY
            JOR
            KAZ
            KEN
            KIR
            PRK
            KOR
            KWT
            KGZ
            LAO
            LVA
            LBN
            LSO
            LBR
            LBY
            LIE
            LTU
            LUX
            MKD
            MDG
            MWI
            MYS
            MDV
            MLI
            MLT
            MHL
            MTQ
            MRT
            MUS
            MYT
            MEX
            FSM
            MDA
            MCO
            MNG
            MNE
            MSR
            MAR
            MOZ
            MMR
            NAM
            NRU
            NPL
            NLD
            ANT
            NCL
            NZL
            NIC
            NER
            NGA
            NIU
            NFK
            MNP
            NOR
            OMN
            PAK
            PLW
            PSE
            PAN
            PNG
            PRY
            PER
            PHL
            PCN
            POL
            PRT
            PRI
            QAT
            REU
            ROU
            RUS
            RWA
            BLM
            SHN
            KNA
            LCA
            MAF
            SPM
            VCT
            WSM
            SMR
            STP
            SAU
            SEN
            SRB
            SYC
            SLE
            SGP
            SVK
            SVN
            SLB
            SOM
            ZAF
            SGS
            SSD
            ESP
            LKA
            SDN
            SUR
            SJM
            SWZ
            SWE
            CHE
            SYR
            TWN
            TJK
            TZA
            THA
            TLS
            TGO
            TKL
            TON
            TTO
            TUN
            TUR
            TKM
            TCA
            TUV
            UGA
            UKR
            ARE
            -->
            <xs:enumeration value="GBR" />
            <!--
            USA
            UMI
            URY
            UZB
            VUT
            VEN
            VNM
            VIR
            WLF
            ESH
            YEM
            ZMB
            ZWE
            -->
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ContactType">
        <xs:sequence>
            <xs:element name="Type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:enumeration value="Claims" />
                        <xs:enumeration value="Report" />
                        <xs:enumeration value="CFO" />
                        <xs:enumeration value="Safe Deposit Box" />
                        <xs:enumeration value="Securities" />
                        <xs:enumeration value="Software" />
                        <!-- TODO:  added for property owner contact -->
                        <xs:enumeration value="Owner" />
                        <!-- TODO:  added for property owner beneficiary contact -->
                        <xs:enumeration value="Beneficiary" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:choice>
                <xs:element name="CompanyName" type="CompanyNameType" />
                <xs:element name="PersonName" type="PersonNameType" />
            </xs:choice>
            <xs:choice>
                <xs:element name="USAddress" type="USAddressType" />
                <xs:element name="ForeignAddress" type="ForeignAddressType" />
            </xs:choice>
            <xs:element name="TelephoneNumber" type="TelephoneNumberType" />
            <xs:element name="EMailAddress" type="EMailAddressType" />
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>