Property.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.unclaimed.org/NAUPA-3"
           xmlns="http://www.unclaimed.org/NAUPA-3"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
           
    <xs:include schemaLocation="Common.xsd" />
	<xs:include schemaLocation="Cash.xsd" />
	<xs:include schemaLocation="Securities.xsd" />
	<xs:include schemaLocation="Safekeeping.xsd" />
	<xs:include schemaLocation="MineralInterests.xsd" />
	<xs:include schemaLocation="Cryptocurrency.xsd" />
    <xs:include schemaLocation="Owner.xsd" />

    <!-- TODO:  add CryptoCurrency here -->
    
    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element name="HIPAAIndicator" type="IndicatorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Property information contains information subject to HIPAA regulations.  Presence of element
                        containing the value "X" indicates the presence of HIPPA information, absence of such an
                        elements indicates no HIPPA information.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AccountNumber">
                <xs:annotation>
                    <xs:documentation>
                        Account number, policy number (incurance), owner number (minerals), box number (tangibles)
                        or other unique identifier under which the holder identifies the owner--if there are
                        multiple numbers used to identify the owner, include all such numbers. If additional space
                        is needed, use Miscellaneous Description field.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu -->
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- TODO:  see TODOs in PropertyTypeCodeType -->
            <xs:element name="TypeCode">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Utilize the five-character type code as set forth in the appendix which most closely
							describes the nature of the asset/account relationship.
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<!-- TODO:  What parts of this should appear in the XML? -->
						<!-- TODO:  Discuss the handling of state-specific extenstions -->
						<xs:enumeration value="AC001">
							<xs:annotation>
								<xs:documentation>Checking Accounts</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="AC002">
							<xs:annotation>
								<xs:documentation>Savings Accounts</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<!-- 
            AC002    Savings Accounts
            AC003    Mature CD or Save Cert
            AC004    IOLTA / Attorney Trust Fund
            AC005    Failed Electronic Payments
            AC006    Unclaimed Intangible Loan Collarteral
            AC007    Unidentified Deposit
            AC008    Security Deposits for Rent
            AC009    ABLE Account
            AC010    Payroll Card Account
            AC011    Reloadable Non-Retail Card
            AC012    Reloadable Government Card
                
                
            CK001    Cashier's, Certified and other instrument which the bank is direclty liable.
            CK002    Payment to Vendor
            CK003    Payment to Nonretail Customer
            CK004    Payment to Retail Customer
            CK005    Retirement Distrubution checks
            CK006    Government Warrants
            CK007    Money Orders
            CK008    Traveler's Checks
            CK009    CD Interest Checks
                
                
            VC001    Virtual Currency in Native Currency Units
            VC002    Virtual Currency Liquidated
                
                
            CS001    Educational Savings Account - Cash
            CS002    Educational Savings Account - Mutual Fund
            CS003    Educational Savings Account - Securities
            CS004    Coverdell Educational Savings Account - Cash
            CS005    Coverdell Educational Savings Account - Mutual Fund
            CS006    Coverdell Educational Savings Account - Securities
            CS007    529 Plan Educational Savings Account - Cash
            CS008    529 Plan Educational Savings Account - Mutual Fund
            CS009    529 Plan Educational Savings Account - Securities
            CS010    College Savings Distribution
                
                
            CT001    Escrow Funds
            CT002    Condemnation Awards
            CT003    Estate / Missing Heir's Funds
            CT004    Class Action Funds
            CT005    Other Court Deposits
            CT006    Bail Bonds
            CT007    Judgements
            CT008    Trust Funds
            CT009    Child Support Payments
            CT010    Abandoned Vehicle Proceeds
            CT011    Real Estate sold
                
                
            HS001    Health Savings Account (HSA)
            HS002    Health Savings Account Investment
                
                
            IN001    Policy Benefits or Claim Payments Including Claims Paid on Auto, Home, P&C, Rental, or Health Policies
            IN002    Retained Asset Accounts including account balances and distributions
            IN003    Proceeds Due Beneficiaries Including Life Insurance Proceeds (Death Claims)
            IN004    Proceeds Due From Matured Policies, Endowments or Annuties for the Insured
            IN005    Premium Refunds including Overpayments
            IN006    Unidentified Remittances
            IN007    Other Amounts Due Under Policy Terms
            IN008    Agent Credit Balances
                
                
            IR001    Traditional IRA - Cash
            IR002    Traditional IRA - Mutual Funds
            IR003    Traditional IRA - Securities
            IR004    Traditional IRA - Other
            IR005    Roth IRA - Cash
            IR006    Roth IRA - Mutual Funds
            IR007    Roth IRA - Securities
            IR008    Roth IRA - Other
            IR009    Pension & Profit Sharing
                
                
            MI001    Working Interest Payment
            MI002    Mineral Interest Royalties
            MI003    Overriding Royalties
            MI004    Production Payments
            MI005    Current Production Payments
            MI006    Bonuses
            MI007    Delay Rentals
            MI008    Shut-in Royalties
            MI009    Miscellaneous Production Payment
                
                
            MS001    Wages, Payroll, Salary - Check or Direct Deposit
            MS002    Commissions
            MS003    "Workers Compensation Benefits
             Recommendation: Move to insurance"
            MS004    Credit Due Vendor
            MS005    Credit Due Nonretail Customer
            MS006    Credit Due Retail Customer
            MS007    Store/Merchandise Credit
            MS008    Stored Value Card
            MS010    General Use Prepaid Card
            MS011    Loyalty, Award or Promotional Card
            MS012    Telephone or other Telecommunications Card
            MS013    Game Related Digital Content Card
                
                
                
            SC001    Dividends on Shares
            SC002    Interest on Bonds
            SC003    Return of Principal on Bonds
            SC004    Cash for Fractional Shares
            SC005    Unexchanged Stock Certificates
            SC006    Shares of Equities
            SC007    Funds for Liquidation / Redemption of Unsurrendered Stock or Bonds
            SC008    Debentures
            SC009    US Government Debt Securities
            SC010    Mutual Fund Shares
            SC011    Warrants/Rights/Options
            SC012    Dividend Reinvestment Plan Shares
            SC013    Security Account Credit Balances
            SC014    Non-freely transferable and Worthless Securities (Equity, Debt, Mutual Funds (Shares) (not all states will adopt).
            SC015    Restricted Securities -Broker Held
            SC016    Unexchanged Shares
            SC017    Dissolution or Liquidation
                
                
            SD001    SD Box Contents
            SD002    Other Safekeeping
            SD003    Other Tangible Property
                
                
            TR001    Pre Need Funeral Expenses 
            TR002    Undelivered or Uncashed Dividends
            TR003    Funds held in Fiduciary Capacity
            TR004    Escrow Accounts
            TR005    Escrow Taxes 
            TR006    Escrow Earnest Money Disputed
            TR007    Burial Expenses
                
                
            UT001    Utility Deposits
            UT002    Refunds or Rebates
             -->
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="DormancyPeriod">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							<!-- TODO -->
						</xs:documentation>
					</xs:annotation>
					<!-- TODO:  Is this used for calculations?  Should it be an integer with a restricted range? -->
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>1 Year</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>2 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>3 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>4 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>5 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation>6 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="7">
							<xs:annotation>
								<xs:documentation>7 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="8">
							<xs:annotation>
								<xs:documentation>8 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="9">
							<xs:annotation>
								<xs:documentation>9 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="10">
							<xs:annotation>
								<xs:documentation>10 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="11">
							<xs:annotation>
								<xs:documentation>11 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="12">
							<xs:annotation>
								<xs:documentation>12 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="13">
							<xs:annotation>
								<xs:documentation>13 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="14">
							<xs:annotation>
								<xs:documentation>14 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="15">
							<xs:annotation>
								<xs:documentation>15 Years</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="PresumedAbandonedDate" type="DateType">
                <xs:annotation>
                    <xs:documentation>
                        Date on which the holder determined the property to be unclaimed (as contrasted with the
                        date on which the property became reportable).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DueDiligence" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Date1" type="DateType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    Date that statutorily required owner notification initially performed.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Date2" type="DateType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    Date(s) that supplemental owner notification(s) performed, if needed.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReturnedByPostOffice" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO -->
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MailDate" type="DateType">
                            <xs:annotation>
                                <xs:documentation>
                                    Date that statutorily required owner notification initially performed.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ReturnCount" type="xs:integer">
                            <xs:annotation>
                                <xs:documentation>
                                    <!-- TODO -->
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DateAccountCodedRPO" type="DateType">
                            <xs:annotation>
                                <xs:documentation>
                                    Date that statutorily required owner notification initially performed.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LastActivityDate" type="DateType">
                <xs:annotation>
                    <xs:documentation>
                        The date on which the last (i.e., most recent) owner-generated actity or action occurred.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PayableOrDistributableDate" type="DateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        For retirement accounts, the date on which distribution of property is required, regardless
                        of whether a penalty will be incurred for non-distribution.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartingTransactionDate" type="DateType">
                <xs:annotation>
                    <xs:documentation>
                        If you are reporting property with periodic payments such as dividends, oil and gas
                        royalties, or commission checks, enter the beginning date on which the amounts were
                        payable. Total all amounts due the owner during the applicable time period and list the
                        payments as one amount on the owner record.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndingTransactionDate" type="DateType">
                <xs:annotation>
                    <xs:documentation>
                        If you are reporting property with periodic payments such as dividends, oil and gas
                        royalties, or commission checks, enter the ending date on which the amounts were
                        payable. Total all amounts due the owner during the applicable time period and list the
                        payments as one amount on the owner record.
                </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NonRemitIndicator" type="IndicatorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                    <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Taxable" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                    <!-- TODO:  description -->
                        Whether the property is or includes taxable income or taxable distribution(s).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ten99IssuedDate" type="DateType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO: date or not? -->
                        Year for which the last 1099 was (will be) issued on this account.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description">
                <xs:annotation>
                    <xs:documentation>
                        In the instance that the Holder has additional information that will be helpful
                        in either locating or validating the claim of the owner and there is not already
                        a relevant field in the NAUPA layout the Holder can enter the information here.
                        If the property is an aggregate enter the number of properties which were combined
                        for the aggregate."
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- Based on Avenu -->
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BondName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- TODO: set length
                        <xs:maxLength value="???" />
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BondNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- TODO: set length
                        <xs:maxLength value="???" />
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CouponNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- TODO: set length
                        <xs:maxLength value="???" />
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PayingAgent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- TODO: set length
                        <xs:maxLength value="???" />
                        -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LocationIdentifier">
                <xs:annotation>
                    <xs:documentation>
                        Indicate whether location of reporting company is a branch, franchise office,
                        specific unit etc if different than main address.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- TODO:  can these be foreign addresses? -->
            <xs:element name="LocationAddress">
				<xs:complexType>
					<xs:choice>
						<xs:element name="USAddress" type="USAddressType" />
						<xs:element name="ForeignAddress" type="ForeignAddressType" />
					</xs:choice>
				</xs:complexType>
            </xs:element>
            <xs:element name="Adjustment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType >
                    <xs:sequence>
                        <xs:element name="Type">
							<xs:simpleType>
								<xs:annotation>
									<xs:documentation>
										<!-- TODO:  description -->
									</xs:documentation>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Due Diligence Cost">
										<xs:annotation>
											<xs:documentation>Due Diligence Cost</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Service Charge">
										<xs:annotation>
											<xs:documentation>Service Charge</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Income Tax Withheld">
										<xs:annotation>
											<xs:documentation>Income Tax Withheld</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="IRS Penalty withheld">
										<xs:annotation>
											<xs:documentation>IRS Penalty withheld</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="IRS Back-Up Withholding">
										<xs:annotation>
											<xs:documentation>Due Diligence Cost</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<!-- TODO:  others? -->
								</xs:restriction>
							</xs:simpleType>
                        </xs:element>
                        <xs:element name="Amount" type="CurrencyType">
                            <xs:annotation>
                                <xs:documentation>
                                    Dollar amount of the adjustment resulting in net amount reported.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- TODO:
			    Is this correct?  Should each property element enclose just one of the following, or should it contain
				one or more of each?
			-->
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="Cash" type="CashType">
                    <xs:annotation>
                        <xs:documentation>
                            <!-- TODO:  description -->
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Securities" type="SecuritiesType">
                    <xs:annotation>
                        <xs:documentation>
                            <!-- TODO:  description -->
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Safekeeping" type="SafekeepingType">
                    <xs:annotation>
                        <xs:documentation>
                            <!-- TODO:  description -->
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MineralInterests" type="MineralInterestsType">
                    <xs:annotation>
                        <xs:documentation>
                            <!-- TODO:  description -->
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="Cryptocurrency" type="CryptocurrencyType">
					<xs:annotation>
						<xs:documentation>
							<!-- TODO:  description -->
						</xs:documentation>
					</xs:annotation>
				</xs:element>
            </xs:choice>
            <xs:element name="OFACInformation" minOccurs="0">
				<xs:complexType>
					<!-- TODO:
					    If this information is present, are all elements required? If not, which ones are?  As
						currently defined here, they would all be required or the XML would fail validation.
					-->
					<xs:sequence>
						<xs:element name="Description">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<!-- TODO:  define max length
                                    <xs:maxLength value="?" />
                                    -->
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DateOfBlocking" type="DateType">
							<xs:annotation>
								<xs:documentation>
									<!-- TODO:  do we really need yet another date format? -->
									The date (YYYY-MM-DD) the property was blocked, if available.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LegalAuthority">
							<xs:annotation>
								<xs:documentation>
									Cite the legal authority or authorities under which the property is blocked(e.g., 31 C.F.R.
									Part 515).
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<!-- TODO:  define max length
                                    <xs:maxLength value="?" />
                                    -->
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SanctionsTarget">
							<xs:annotation>
								<xs:documentation>
									The associated sanctions target whose property is blocked, or a reference to the
									relevant communication from OFAC instructing a party to block this property if that
									target is unknown (e.g. "Cuba").
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<!-- TODO:  define max length
                                    <xs:maxLength value="?" />
                                    -->
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OwnerType">
							<xs:simpleType>
								<xs:annotation>
									<xs:documentation>
										Indicate owner type, selecting from one of the following categories: individual; U.S. bank;
										non-U.S. bank; U.S. non-bank entity; non-U.S. non-bank entity; or other.
									</xs:documentation>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Individal">
										<xs:annotation>
											<xs:documentation>Individal</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="U.S. Bank">
										<xs:annotation>
											<xs:documentation>U.S. Bank</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Non-U.S. Bank">
										<xs:annotation>
											<xs:documentation>Non-U.S. Bank</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="U.S. Non-Bank">
										<xs:annotation>
											<xs:documentation>U.S. Non-Bank</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="Non-U.S. Non-Bank">
										<xs:annotation>
											<xs:documentation>Non-U.S. Non-Bank</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
            </xs:element>
            <xs:element name="Owner" type="OwnerType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
    
    
</xs:schema>