Remittance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.unclaimed.org/NAUPA-III"
  xmlns="http://www.unclaimed.org/NAUPA-III"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <!-- Section 4 Remittance Element -->
  <xs:element name="Remittance">
    <xs:complexType>
      <xs:sequence>
        <!-- Section 4.1 SoftwareInformation Element -->
        <xs:element name="SoftwareInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Contact" type="ContactType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!-- SoftwareInformation -->
        <!-- Section 4.2 Payment Element -->
        <xs:element name="Payment" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <!-- Section 4.2.1 Payment TypeCode -->
              <xs:element name="TypeCode" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                    <xs:enumeration value="Online" />
                    <xs:enumeration value="Check" />
                    <xs:enumeration value="Wire" />
                    <xs:enumeration value="ACH Credit" />
                    <xs:enumeration value="ACH Debit" />
                    <xs:enumeration value="Interagency" />
                    <xs:enumeration value="ECheck" />
                    <xs:enumeration value="Other" />
                    <xs:enumeration value="None" /> <!-- ??? Leave out Payment element if there is no payment -->
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ConfirmationNumber">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!-- Payment -->
        <!-- Section 4.3 Remitter Element -->
        <xs:element name="Remitter">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompanyName" type="CompanyNameType" />
              <xs:choice>
                <xs:element name="USCompanyInfo" type="USCompanyInfoType" />
                <xs:element name="ForeignCompanyInfo" type="ForeignCompanyInfoType" />
              </xs:choice>
              <xs:element name="TelephoneNumber" type="TelephoneNumberType" />
              <xs:element name="EMailAddress" type="EMailAddressType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!-- Remitter -->
        <!-- Section 4.4 Holder Element -->
        <xs:element name="Holder" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompanyName" type="CompanyNameType" />
              <xs:choice>
                <xs:element name="USCompanyInfo" type="USCompanyInfoType" />
                <xs:element name="ForeignCompanyInfo" type="ForeignCompanyInfoType" />
              </xs:choice>
              <!-- Section 4.4.1 ParentCompany Element -->
              <xs:element name="ParentCompany" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyName" type="CompanyNameType" />
                    <xs:choice>
                      <xs:element name="FEIN" type="FEINType" />
                      <xs:element name="ForeignTaxID" type="ForeignTaxIDType" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" type="ContactType" maxOccurs="unbounded" />
              <xs:element name="NAICSCode">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[1-9][1-9][0-9]{0,4}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TaxIDExtension" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{4}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DBAName" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded"/>
              <!-- Section 4.4.2 Incorporated Element -->
              <xs:element name="Incorporated" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="State" type="StateCodeType" />
                    <xs:element name="Date" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SalesAmount" type="CurrencyType" minOccurs="0" />
              <xs:element name="NumberOfEmployees" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:totalDigits value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AssetsAmount" type="CurrencyType" minOccurs="0" />
              <xs:element name="NumberOfInsurancePolicies" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:totalDigits value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="HolderID" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{1,15}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!-- Section 4.4.3 Report Element -->
              <xs:element name="Report">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Section 4.4.3.1 Report TypeCode Element -->
                    <xs:element name="TypeCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                          <xs:enumeration value="Advertising/No Remittance" />
                          <xs:enumeration value="Remittance/Annual" />
                          <xs:enumeration value="Test" />
                          <xs:enumeration value="Audit" />
                          <xs:enumeration value="Supplemental/Correction" />
                          <xs:enumeration value="Reciprocal" />
                          <xs:enumeration value="Voluntary Disclosure Agreement" />
                          <xs:enumeration value="Final Remittance" />
                          <xs:enumeration value="Initial Remittance" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Year">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{4}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AsOfDate" type="xs:date" minOccurs="0" />
                    <xs:element name="Contact" type="ContactType" maxOccurs="unbounded" />
                    <!-- Section 4.4.3.2 Property Element -->
                    <xs:element name="Property" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <!-- Section 4.4.3.2.1 Property TypeCode Element -->
                          <xs:element name="TypeCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                                <xs:enumeration value="AC001" />
                                <xs:enumeration value="AC002" />
                                <xs:enumeration value="AC003" />
                                <xs:enumeration value="AC004" />
                                <xs:enumeration value="AC005" />
                                <xs:enumeration value="AC006" />
                                <xs:enumeration value="AC007" />
                                <xs:enumeration value="AC008" />
                                <xs:enumeration value="AC009" />
                                <xs:enumeration value="AC010" />
                                <xs:enumeration value="AC011" />
                                <xs:enumeration value="AC012" />
                                <xs:enumeration value="CK001" />
                                <xs:enumeration value="CK002" />
                                <xs:enumeration value="CK003" />
                                <xs:enumeration value="CK004" />
                                <xs:enumeration value="CK005" />
                                <xs:enumeration value="CK006" />
                                <xs:enumeration value="CK007" />
                                <xs:enumeration value="CK008" />
                                <xs:enumeration value="CK009" />
                                <xs:enumeration value="CS001" />
                                <xs:enumeration value="CS002" />
                                <xs:enumeration value="CS003" />
                                <xs:enumeration value="CS004" />
                                <xs:enumeration value="CS005" />
                                <xs:enumeration value="CS006" />
                                <xs:enumeration value="CS007" />
                                <xs:enumeration value="CS008" />
                                <xs:enumeration value="CS009" />
                                <xs:enumeration value="CS010" />
                                <xs:enumeration value="CT001" />
                                <xs:enumeration value="CT002" />
                                <xs:enumeration value="CT003" />
                                <xs:enumeration value="CT004" />
                                <xs:enumeration value="CT005" />
                                <xs:enumeration value="CT006" />
                                <xs:enumeration value="CT007" />
                                <xs:enumeration value="CT008" />
                                <xs:enumeration value="CT009" />
                                <xs:enumeration value="CT010" />
                                <xs:enumeration value="CT011" />
                                <xs:enumeration value="HS001" />
                                <xs:enumeration value="HS002" />
                                <xs:enumeration value="IN001" />
                                <xs:enumeration value="IN002" />
                                <xs:enumeration value="IN003" />
                                <xs:enumeration value="IN004" />
                                <xs:enumeration value="IN005" />
                                <xs:enumeration value="IN006" />
                                <xs:enumeration value="IN007" />
                                <xs:enumeration value="IN008" />
                                <xs:enumeration value="IR001" />
                                <xs:enumeration value="IR002" />
                                <xs:enumeration value="IR003" />
                                <xs:enumeration value="IR004" />
                                <xs:enumeration value="IR005" />
                                <xs:enumeration value="IR006" />
                                <xs:enumeration value="IR007" />
                                <xs:enumeration value="IR008" />
                                <xs:enumeration value="IR009" />
                                <xs:enumeration value="MI001" />
                                <xs:enumeration value="MI002" />
                                <xs:enumeration value="MI003" />
                                <xs:enumeration value="MI004" />
                                <xs:enumeration value="MI005" />
                                <xs:enumeration value="MI006" />
                                <xs:enumeration value="MI007" />
                                <xs:enumeration value="MI008" />
                                <xs:enumeration value="MI009" />
                                <xs:enumeration value="MS001" />
                                <xs:enumeration value="MS002" />
                                <xs:enumeration value="MS003" />
                                <xs:enumeration value="MS004" />
                                <xs:enumeration value="MS005" />
                                <xs:enumeration value="MS006" />
                                <xs:enumeration value="MS007" />
                                <xs:enumeration value="MS008" />
                                <xs:enumeration value="MS010" />
                                <xs:enumeration value="MS011" />
                                <xs:enumeration value="MS012" />
                                <xs:enumeration value="MS013" />
                                <xs:enumeration value="SC001" />
                                <xs:enumeration value="SC002" />
                                <xs:enumeration value="SC003" />
                                <xs:enumeration value="SC004" />
                                <xs:enumeration value="SC005" />
                                <xs:enumeration value="SC006" />
                                <xs:enumeration value="SC007" />
                                <xs:enumeration value="SC008" />
                                <xs:enumeration value="SC009" />
                                <xs:enumeration value="SC010" />
                                <xs:enumeration value="SC011" />
                                <xs:enumeration value="SC012" />
                                <xs:enumeration value="SC013" />
                                <xs:enumeration value="SC014" />
                                <xs:enumeration value="SC015" />
                                <xs:enumeration value="SC016" />
                                <xs:enumeration value="SC017" />
                                <xs:enumeration value="SD001" />
                                <xs:enumeration value="SD002" />
                                <xs:enumeration value="SD003" />
                                <xs:enumeration value="TR001" />
                                <xs:enumeration value="TR002" />
                                <xs:enumeration value="TR003" />
                                <xs:enumeration value="TR004" />
                                <xs:enumeration value="TR005" />
                                <xs:enumeration value="TR006" />
                                <xs:enumeration value="TR007" />
                                <xs:enumeration value="UT001" />
                                <xs:enumeration value="UT002" />
                                <xs:enumeration value="VC001" />
                                <xs:enumeration value="VC002" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="AccountNumber">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PresumedAbandonedDate" type="xs:date" />
                          <!-- Section 4.4.3.2.2 DueDiligencePerformed Element -->
                          <xs:element name="DueDiligencePerformed" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Date1" type="xs:date" />
                                <xs:element name="Date2" type="xs:date" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!-- Section 4.4.3.2.3 ReturnedByPostOffice Element -->
                          <xs:element name="ReturnedByPostOffice" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MailDate" type="xs:date" />
                                <xs:element name="ReturnCount" type="xs:short" minOccurs="0" />
                                <xs:element name="DateAccountCodedRPO" type="xs:date" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PayableOrDistributableDate" type="xs:date" minOccurs="0" />
                          <xs:choice>
                            <xs:element name="LastActivityDate" type="xs:date" />
                            <!-- Section 4.4.3.2.4 Transaction Element -->
                            <xs:element name="Transaction">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="StartDate" type="xs:date" />
                                  <xs:element name="EndDate" type="xs:date" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                          <xs:element name="NonRemitIndicator" type ="IndicatorType" minOccurs="0" />
                          <xs:element name="Taxable" type ="IndicatorType" minOccurs="0" />
                          <xs:element name="TaxForm1099IssuedDate" type="xs:date" minOccurs="0" />
                          <xs:element name="Description" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="250" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <!-- Section 4.4.3.2.5 AlternateLocation Element -->
                          <xs:element name="AlternateLocation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Identifier" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="20" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="USAddress" type="USAddressType" />
                                  <xs:element name="ForeignAddress" type="ForeignAddressType" />
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!-- Section 4.4.3.2.6 OFAC Element -->
                          <xs:element name="OFAC" minOccurs="0">
                            <xs:complexType>
                              <!-- TODO:
                              If this information is present, are all elements required? If not, which ones are?  As
                              currently defined here, they would all be required or the XML would fail validation.
            
                              KGW - I think we should query New York on the field sizes and what is required.
                              -->
                              <xs:sequence>
                                <xs:element name="DateOfBlocking" type="xs:date" minOccurs="0" />
                                <xs:element name="LegalAuthority" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="100" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="SanctionsTarget">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="100" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <!-- Section 4.4.3.2.6.1 OFAC OwnerType Element -->
                                <xs:element name="OwnerType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                      <xs:enumeration value="Individal" />
                                      <xs:enumeration value="U.S. Bank" />
                                      <xs:enumeration value="Non-U.S. Bank" />
                                      <xs:enumeration value="U.S. Non-Bank" />
                                      <xs:enumeration value="Non-U.S. Non-Bank" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="HIPAAIndicator" type="IndicatorType" minOccurs="0" />
                          <!-- Section 4.4.3.2.7 Owner Element -->
                          <xs:element name="Owner" minOccurs ="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <!-- Section 4.4.3.2.7.1 Owner TypeCode Element -->
                                <xs:element name="TypeCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="15" />
                                      <xs:enumeration value="Aggregate" />
                                      <xs:enumeration value="NamedOwner" />
                                      <xs:enumeration value="Unknown" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <!-- Section 4.4.3.2.7.2 Identity Element -->
                                <xs:element name="Identity" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:choice>
                                        <!-- Section 4.4.3.2.7.2.1 USTaxID Element -->
                                        <xs:element name="USTaxID" minOccurs="0">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <!-- Section 4.4.3.2.7.2.1.1 USTaxID TypeCode Element -->
                                              <xs:element name="TypeCode">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:maxLength value="10" />
                                                    <xs:enumeration value="SSN" />
                                                    <xs:enumeration value="FEIN" />
                                                    <xs:enumeration value="ITIN" />
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="Number">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{9}" />
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AlienID" minOccurs="0">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="20" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:choice>
                                      <!-- Section 4.4.3.2.7.2.2 DriversLicense Element -->
                                      <xs:element name="DriversLicense" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="State" type="StateCodeType" />
                                            <xs:element name="Identifier">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Contact" type="ContactType" />
                                <xs:element name="Description" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="255" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DateOfBirth" type="xs:date" minOccurs="0" />
                                <!-- Section 4.4.3.2.7.3 RelationshipCode Element -->
                                <xs:element name="RelationshipCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                      <xs:enumeration value="AD" />
                                      <xs:enumeration value="AG" />
                                      <xs:enumeration value="AF" />
                                      <xs:enumeration value="AN" />
                                      <xs:enumeration value="CP" />
                                      <xs:enumeration value="CN" />
                                      <xs:enumeration value="CF" />
                                      <xs:enumeration value="DF" />
                                      <xs:enumeration value="ES" />
                                      <xs:enumeration value="EX" />
                                      <xs:enumeration value="FB" />
                                      <xs:enumeration value="GR" />
                                      <xs:enumeration value="HE" />
                                      <xs:enumeration value="IN" />
                                      <xs:enumeration value="JT" />
                                      <xs:enumeration value="TC" />
                                      <xs:enumeration value="JE" />
                                      <xs:enumeration value="PC" />
                                      <xs:enumeration value="OR" />
                                      <xs:enumeration value="OT" />
                                      <xs:enumeration value="PD" />
                                      <xs:enumeration value="PA" />
                                      <xs:enumeration value="PO" />
                                      <xs:enumeration value="RE" />
                                      <xs:enumeration value="SO" />
                                      <xs:enumeration value="TE" />
                                      <xs:enumeration value="UG" />
                                      <xs:enumeration value="UT" />
                                      <xs:enumeration value="UN" />
                                      <xs:enumeration value="UF" />
                                      <xs:enumeration value="LA" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CompleteAccountRegistrationName" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="255" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DateOfTrust" type="xs:date" minOccurs="0" />
                                <xs:element name="MinorDateOfMajority" type="xs:date" minOccurs="0" />
                                <!-- Section 4.4.3.2.7.4 Deceased Element -->
                                <xs:element name="Deceased" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DateOfDeath" type="xs:date" minOccurs="0" />
                                      <xs:element name="DateOfDeathSource" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="50" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="DateOfDeathIdentifiedDate" type="xs:date" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element> <!-- Owner -->
                          <!-- Section 4.4.3.2.8 Beneficiary Element -->
                          <xs:element name="Beneficiary" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <!-- Section 4.4.3.2.8.1 Beneficiary TypeCode Element -->
                                <xs:element name="TypeCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                      <xs:enumeration value="Primary" />
                                      <xs:enumeration value="Contingent" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Spouse" type="IndicatorType" minOccurs="0" />
                                <xs:element name="Percentage" type="PercentageType" />
                                <xs:element name="Contact" type="ContactType" />
                                <xs:element name="DateOfBirth" type="xs:date" minOccurs="0" />
                                <xs:element name="SSN" type="SSNType"  minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element> <!-- Beneficiary -->
                          <!-- Section 4.4.3.2.9 Property Adjustment Element -->
                          <xs:element name="Adjustment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType >
                              <xs:sequence>
                                <!-- Section 4.4.3.2.9.1 Property Adjustment TypeCode Element -->
                                <xs:element name="TypeCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50" />
                                      <xs:enumeration value="DC" />
                                      <xs:enumeration value="SC" />
                                      <xs:enumeration value="TW" />
                                      <xs:enumeration value="PW" />
                                      <xs:enumeration value="BW" />
                                      <xs:enumeration value="IE" />
                                      <xs:enumeration value="DE" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="Amount" type="CurrencyType" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <!-- Section 4.4.3.2.10 Cash Element -->
                            <xs:element name="Cash">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="ReportedAmount" type="CurrencyType" />
                                  <xs:element name="RemittedAmount" type="CurrencyType" />
                                  <!-- Section 4.4.3.2.10.1 Interest Element -->
                                  <xs:element name="Interest" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Rate">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                              <xs:minInclusive value="0" />
                                              <xs:maxInclusive value="100" />
                                              <xs:fractionDigits value="3" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PaidThroughDate" type="xs:date" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="CheckNumber" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="100" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="ItemIssueState" type="StateCodeType" minOccurs="0" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- Cash -->
                            <!-- Section 4.4.3.2.11 Bond Element -->
                            <xs:element name="Bond">
                              <xs:complexType >
                                <xs:sequence>
                                  <xs:element name="Name">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="100" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Number" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="25" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="CouponNumber" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="25" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="PayingAgent" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="100" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- Bond -->
                            <!-- Section 4.4.3.2.12 Security Element -->
                            <xs:element name="Security">
                              <xs:complexType>
                                <xs:sequence>
                                  <!-- Section 4.4.3.2.12.1 Security TypeCode Element -->
                                  <xs:element name="TypeCode">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                        <xs:enumeration value="Common Stock" />
                                        <xs:enumeration value="Preferred Stock" />
                                        <xs:enumeration value="Open-End Mutual Fund" />
                                        <xs:enumeration value="Closed-End Mutual Fund" />
                                        <xs:enumeration value="Bonds" />
                                        <xs:enumeration value="Options/Warrants" />
                                        <xs:enumeration value="Rights" />
                                        <xs:enumeration value="Privately Held" />
                                        <xs:enumeration value="CVR" />
                                        <xs:enumeration value="ADR" />
                                        <xs:enumeration value="Foreign" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Name" type="SecurityNameType" />
                                  <xs:element name="Symbol" type="SecuritySymbolType" minOccurs="0" />
                                  <xs:choice>
                                    <xs:element name="CUSIP" type="SecurityCUSIPType" />
                                    <xs:element name="AlternativeID" type="AlternativeSecurityIDType" />
                                  </xs:choice>
                                  <xs:element name="TransferAgent">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="35" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="ReportedShares" type="SecurityNumberOfSharesType" />
                                  <xs:element name="RemittedShares" type="SecurityNumberOfSharesType" />
                                  <!-- Section 4.4.3.2.12.2 Original Element -->
                                  <xs:element name="Original" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Name" type="SecurityNameType" />
                                        <xs:choice>
                                          <xs:element name="CUSIP" type="SecurityCUSIPType" />
                                          <xs:element name="AlternativeID" type="AlternativeSecurityIDType" />
                                        </xs:choice>
                                        <xs:element name="Shares" type="SecurityNumberOfSharesType" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.12.3 DividendHandling Element -->
                                  <xs:element name="DividendHandling">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                        <xs:enumeration value="Cash" />
                                        <xs:enumeration value="Reinvested" />
                                        <xs:enumeration value="None" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="DividendsPaidThroughDate" type="xs:date" />
                                  <!-- Section 4.4.3.2.12.4 DeliveryMethod Element -->
                                  <xs:element name="DeliveryMethod">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                        <xs:enumeration value="DTC" />
                                        <xs:enumeration value="Physical" />
                                        <xs:enumeration value="Book Entry" />
                                        <xs:enumeration value="Foreign" />
                                        <xs:enumeration value="DWAC" />
                                        <xs:enumeration value="Fund/SERV" />
                                        <xs:enumeration value="DRS" />
                                        <xs:enumeration value="Held at Holder" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="StateAccountNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="DTCDeliveryReferenceNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="20" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.12.5 Market Element -->
                                  <xs:element name="Market">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="6" />
                                        <xs:enumeration value="NYSE" />
                                        <xs:enumeration value="AMEX" />
                                        <xs:enumeration value="NASDAQ" />
                                        <xs:enumeration value="Private" />
                                        <xs:enumeration value="Other" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.12.6 Status Element -->
                                  <xs:element name="Status">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                        <xs:enumeration value="Transferable" />
                                        <xs:enumeration value="Non-Transferable" />
                                        <xs:enumeration value="Chilled" />
                                        <xs:enumeration value="Delisted" />
                                        <xs:enumeration value="Restricted" />
                                        <xs:enumeration value="Worthless" />
                                        <xs:enumeration value="No ticker" />
                                        <xs:enumeration value="Below Min Lot Size" />
                                        <xs:enumeration value="Prohibited/Sanctioned Countries" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.12.7 Security Adjustment Element -->
                                  <xs:element name="Adjustment" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <!-- Section 4.4.3.2.12.7.1 Security Adjustment TypeCode Element -->
                                        <xs:element name="TypeCode">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="50" />
                                              <xs:enumeration value="Tax" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Amount" type="SecurityNumberOfSharesType">
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.12.8 CostBasis Element -->
                                  <xs:element name="CostBasis" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Name" type="SecurityNameType" minOccurs="1" />
                                        <xs:element name="Symbol" type="SecuritySymbolType" minOccurs="0" />
                                        <xs:choice>
                                          <xs:element name="CUSIP" type="SecurityCUSIPType" />
                                          <xs:element name="AlternativeID" type="AlternativeSecurityIDType" />
                                        </xs:choice>
                                        <xs:element name="Amount" type="CurrencyType" />
                                        <xs:element name="Shares" type="SecurityNumberOfSharesType" />
                                        <xs:element name="PurchaseDate" type="xs:date" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- Security -->
                            <!-- Section 4.4.3.2.13 Safekeeping Element -->
                            <xs:element name="Safekeeping">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="BoxCaseNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="25" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="BoxOpenDate" type="xs:date" />
                                  <xs:element name="LeaseExpiredDate" type="xs:date" />
                                  <!-- Section 4.4.3.2.13.1 Fee Element -->
                                  <xs:element name="Fee" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <!-- Section 4.4.3.2.13.1.1 Fee TypeCode Element -->
                                        <xs:element name="TypeCode">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="50" />
                                              <xs:enumeration value="Drilling Fee" />
                                              <xs:enumeration value="Unpaid Rent" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Amount" type="CurrencyType" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.13.2 Inventory Element -->
                                  <xs:element name="Inventory" maxOccurs="unbounded">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <!-- Section 4.4.3.2.13.2.1 ItemCode Element -->
                                        <xs:element name="ItemCode">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="50" />
                                              <xs:enumeration value="Coins" />
                                              <xs:enumeration value="Paper Currency" />
                                              <xs:enumeration value="Empty Box" />
                                              <xs:enumeration value="Jewelry" />
                                              <xs:enumeration value="Legal or Misc Papers" />
                                              <xs:enumeration value="Military Medals" />
                                              <xs:enumeration value="Miscellaneous Items" />
                                              <xs:enumeration value="Savings Bonds" />
                                              <xs:enumeration value="Stock Certificates" />
                                              <xs:enumeration value="Weapons" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Description">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="2000" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="EstimatedValue" type="CurrencyType" minOccurs="0"/>
                                        <!-- Section 4.4.3.2.13.2.2 SavingsBond Element -->
                                        <xs:element name="SavingsBond" minOccurs="0">
                                          <xs:complexType >
                                            <xs:sequence>
                                              <xs:element name="BondNumber">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:maxLength value="250" />
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="FaceValue" type="CurrencyType" />
                                              <!-- Section 4.4.3.2.13.2.2.1 SavingsBond Owner Element -->
                                              <xs:element name="Owner">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Name">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:maxLength value="250" />
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:choice>
                                                      <xs:element name="USAddress" type="USAddressType" />
                                                      <xs:element name="ForeignAddress" type="ForeignAddressType" />
                                                    </xs:choice>
                                                    <xs:element name="SocialSecurityNumber" type="SSNType" />
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- Safekeeping -->
                            <!-- Section 4.4.3.2.14 MineralInterests Element -->
                            <xs:element name="MineralInterests">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="StateCode" type="StateCodeType" />
                                  <xs:element name="CountyName">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="20" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Section">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="2" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Township">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="3" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Range">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="3" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="SupplementalDescription">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="20" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="PoolingOrder">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="6" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="PoolingDate" type="xs:date" />
                                  <xs:element name="WellName">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="30" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="WellNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="20" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="LeaseName">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="30" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="LeaseNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <!-- From FieldDescriptions in spreadsheet -->
                                        <xs:maxLength value="20" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="OwnershipPercentage" type="PercentageType" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- MineralInterests -->
                            <!-- Section 4.4.3.2.15 -->
                            <xs:element name="Cryptocurrency">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Name">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="100" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="Symbol">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="AccountNumber">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <!-- Section 4.4.3.2.15.1 AlternativeID Element -->
                                  <xs:element name="AlternativeID" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <!-- Section 4.4.3.2.15.1.1 AlternativeID TypeCode Element -->
                                        <xs:element name="TypeCode">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="TBD" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Identifier">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="50" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="ReportedUnits" type="CryptocurrencyUnits" />
                                  <xs:element name="RemittedUnits" type="CryptocurrencyUnits" />
                                  <!-- TODO:  Is this redundant with the Property/Cash level values? -->
                                  <xs:element name="ProceedsReported" type="CurrencyType" />
                                  <!-- TODO:  Is this redundant with the Property/Cash level values? -->
                                  <xs:element name="ProceedsRemitted" type="CurrencyType" />
                                  <xs:element name="DateSold" type="xs:date" minOccurs="0" />
                                  <xs:element name="UnitsSold" type="CryptocurrencyUnits" minOccurs="0" />
                                  <xs:element name="DateAcquired" type="xs:date" minOccurs="0" />
                                  <xs:element name="DeliveryMethod" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="StateAccountNumber" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:maxLength value="50" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="ReportNotRemit" type="IndicatorType" minOccurs="0" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!-- Cryptocurrency -->
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element> <!-- Property -->
                    <!-- Section 4.4.3.3 Report Adjustment Element -->
                    <xs:element name="Adjustment" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <!-- Section 4.4.3.3.1 Report Adjustment TypeCode Element -->
                          <xs:element name="TypeCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                                <xs:enumeration value="Audit Fees" />
                                <xs:enumeration value="Estimate or Prepayment" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="Amount" type="CurrencyType" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <!-- Adjustment-->
                    <xs:element name="NonProductionReport" type="IndicatorType" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element> <!-- Report -->
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!-- Holder -->
      </xs:sequence>
      <!-- Section 4.5 Remittance Attributes -->
      <xs:attribute name="version" type="xs:string" use="required" fixed="0.1" />
    </xs:complexType>
  </xs:element> <!-- Remittance -->

  <!-- Section 5 Security Element Types-->
  <!-- Section 5.1 Security Structural Element Types -->
  <!-- Section 5.1.1 AlternativeSecurityIDType -->
  <xs:complexType name="AlternativeSecurityIDType">
    <xs:sequence>
      <!-- Section 5.1.1.1 AlternativeSecurityIDType TypeCode -->
      <xs:element name="TypeCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
            <xs:enumeration value="SEDOL" />
            <xs:enumeration value="ISIN" />
            <xs:enumeration value="VALOREN" />
            <xs:enumeration value="OTHER" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Identifier">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Section 5.2 Security Data Element Types-->
  <xs:simpleType name="SecurityCUSIPType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:pattern value="[A-Za-z0-9]{8}[0-9]{1}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SecurityNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SecurityNumberOfSharesType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12" />
      <xs:fractionDigits value="6" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SecuritySymbolType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Section 6 Cryptocurrency Element Types-->
  <!-- Section 6.1 Cryptocurrency Data Element Types -->
  <xs:simpleType name="CryptocurrencyUnits">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="12" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Section 7 Common Element Types -->
  <!-- Section 7.1 Common Structural Element Types -->
  <!-- Section 7.1.1 ContactType -->
  <xs:complexType name="ContactType">
    <xs:sequence>
      <!-- Section 7.1.1.1 ContactType TypeCode -->
      <xs:element name="TypeCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:enumeration value="Claims" />
            <xs:enumeration value="Report" />
            <xs:enumeration value="CFO" />
            <xs:enumeration value="Safe Deposit Box" />
            <xs:enumeration value="Securities" />
            <xs:enumeration value="Software" />
            <xs:enumeration value="Owner" />
            <xs:enumeration value="Beneficiary" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice>
        <xs:element name="CompanyName" type="CompanyNameType" />
        <xs:element name="PersonName" type="PersonNameType" />
      </xs:choice>
      <xs:element name="PrimaryAddress" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="USAddress" type="USAddressType" />
            <xs:element name="ForeignAddress" type="ForeignAddressType" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <!-- Section 7.1.1.2 AlternateAddress -->
      <xs:element name="AlternateAddress" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <!-- Section 7.1.1.2.1 AlternateAddress TypeCode -->
            <xs:element name="TypeCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                  <xs:enumeration value="Seasonal" />
                  <xs:enumeration value="Obsolete/Prior" />
                  <xs:enumeration value="Forwarding/Non-Permanent" />
                  <xs:enumeration value="Billing" />
                  <xs:enumeration value="Service" />
                  <xs:enumeration value="Owned but not occupied" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:choice>
              <xs:element name="USAddress" type="USAddressType" />
              <xs:element name="ForeignAddress" type="ForeignAddressType" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TelephoneNumber" type="TelephoneNumberType" minOccurs="0" />
      <xs:element name="AlternateTelephoneNumber" type="TelephoneNumberType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="EMailAddress" type="EMailAddressType" minOccurs="0" />
      <xs:element name="AlternateEMailAddress" type="EMailAddressType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.2 ForeignAddressType -->
  <xs:complexType name="ForeignAddressType">
    <xs:sequence>
      <xs:element name="Address1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Address2" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Address3" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="City">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ProvinceOrState" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ForeignPostalCode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CountryCode" type="CountryCodeType" />
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.3 ForeignCompanyInfoType -->
  <xs:complexType name="ForeignCompanyInfoType">
    <xs:sequence>
      <xs:element name="ForeignTaxID" type="ForeignTaxIDType" />
      <xs:element name="ForeignAddress" type="ForeignAddressType" />
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.4 PersonNameType-->
  <xs:complexType name="PersonNameType">
    <xs:sequence>
      <xs:element name="Prefix" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FirstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MiddleName" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LastName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Suffix" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.5 TelephoneNumberType -->
  <xs:complexType name="TelephoneNumberType">
    <xs:sequence>
      <xs:element name="Type" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice>
        <xs:element name="USTelephoneNumber" type="USTelephoneNumberType" />
        <xs:element name="ForeignTelephoneNumber" type="ForeignTelephoneNumberType" />
      </xs:choice>
      <xs:element name="Extension" type="TelephoneExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.6 USAddressType -->
  <xs:complexType name="USAddressType">
    <xs:sequence>
      <xs:element name="Address1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Address2" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Address3" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="City">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StateCode" type="StateCodeType" />
      <xs:element name="ZIPCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}(-[0-9]{4})?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.1.7 USCompanyInfoType -->
  <xs:complexType name="USCompanyInfoType">
    <xs:sequence>
      <xs:element name="FEIN" type="FEINType" />
      <xs:element name="USAddress" type="USAddressType" />
    </xs:sequence>
  </xs:complexType>

  <!-- Section 7.2 Common Data Element Types -->

  <xs:simpleType name="CompanyNameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"></xs:totalDigits>
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EMailAddressType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
      <!-- Cribbed from StackOverflow. -->
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FEINType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ForeignTaxIDType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ForeignTelephoneNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{7,15}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PercentageType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
      <xs:fractionDigits value="3" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SSNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TelephoneExtensionType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="USTelephoneNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Section 7.3 Common Code Types -->

  <!-- Section 7.3.1 CountryCodeType -->
  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <!-- From https://www.iban.com/country-codes -->
      <xs:enumeration value="AFG"/>
      <xs:enumeration value="ALB"/>
      <xs:enumeration value="DZA"/>
      <xs:enumeration value="ASM"/>
      <xs:enumeration value="AND"/>
      <xs:enumeration value="AGO"/>
      <xs:enumeration value="AIA"/>
      <xs:enumeration value="ATA"/>
      <xs:enumeration value="ATG"/>
      <xs:enumeration value="ARG"/>
      <xs:enumeration value="ARM"/>
      <xs:enumeration value="ABW"/>
      <xs:enumeration value="AUS"/>
      <xs:enumeration value="AUT"/>
      <xs:enumeration value="AZE"/>
      <xs:enumeration value="BHS"/>
      <xs:enumeration value="BHR"/>
      <xs:enumeration value="BGD"/>
      <xs:enumeration value="BRB"/>
      <xs:enumeration value="BLR"/>
      <xs:enumeration value="BEL"/>
      <xs:enumeration value="BLZ"/>
      <xs:enumeration value="BEN"/>
      <xs:enumeration value="BMU"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BOL"/>
      <xs:enumeration value="BES"/>
      <xs:enumeration value="BIH"/>
      <xs:enumeration value="BWA"/>
      <xs:enumeration value="BVT"/>
      <xs:enumeration value="BRA"/>
      <xs:enumeration value="IOT"/>
      <xs:enumeration value="BRN"/>
      <xs:enumeration value="BGR"/>
      <xs:enumeration value="BFA"/>
      <xs:enumeration value="BDI"/>
      <xs:enumeration value="CPV"/>
      <xs:enumeration value="KHM"/>
      <xs:enumeration value="CMR"/>
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="CYM"/>
      <xs:enumeration value="CAF"/>
      <xs:enumeration value="TCD"/>
      <xs:enumeration value="CHL"/>
      <xs:enumeration value="CHN"/>
      <xs:enumeration value="CXR"/>
      <xs:enumeration value="CCK"/>
      <xs:enumeration value="COL"/>
      <xs:enumeration value="COM"/>
      <xs:enumeration value="COD"/>
      <xs:enumeration value="COG"/>
      <xs:enumeration value="COK"/>
      <xs:enumeration value="CRI"/>
      <xs:enumeration value="HRV"/>
      <xs:enumeration value="CUB"/>
      <xs:enumeration value="CUW"/>
      <xs:enumeration value="CYP"/>
      <xs:enumeration value="CZE"/>
      <xs:enumeration value="CIV"/>
      <xs:enumeration value="DNK"/>
      <xs:enumeration value="DJI"/>
      <xs:enumeration value="DMA"/>
      <xs:enumeration value="DOM"/>
      <xs:enumeration value="ECU"/>
      <xs:enumeration value="EGY"/>
      <xs:enumeration value="SLV"/>
      <xs:enumeration value="GNQ"/>
      <xs:enumeration value="ERI"/>
      <xs:enumeration value="EST"/>
      <xs:enumeration value="SWZ"/>
      <xs:enumeration value="ETH"/>
      <xs:enumeration value="FLK"/>
      <xs:enumeration value="FRO"/>
      <xs:enumeration value="FJI"/>
      <xs:enumeration value="FIN"/>
      <xs:enumeration value="FRA"/>
      <xs:enumeration value="GUF"/>
      <xs:enumeration value="PYF"/>
      <xs:enumeration value="ATF"/>
      <xs:enumeration value="GAB"/>
      <xs:enumeration value="GMB"/>
      <xs:enumeration value="GEO"/>
      <xs:enumeration value="DEU"/>
      <xs:enumeration value="GER"/>
      <xs:enumeration value="GHA"/>
      <xs:enumeration value="GIB"/>
      <xs:enumeration value="GRC"/>
      <xs:enumeration value="GRL"/>
      <xs:enumeration value="GRD"/>
      <xs:enumeration value="GLP"/>
      <xs:enumeration value="GUM"/>
      <xs:enumeration value="GTM"/>
      <xs:enumeration value="GGY"/>
      <xs:enumeration value="GIN"/>
      <xs:enumeration value="GNB"/>
      <xs:enumeration value="GUY"/>
      <xs:enumeration value="HTI"/>
      <xs:enumeration value="HMD"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="HND"/>
      <xs:enumeration value="HKG"/>
      <xs:enumeration value="HUN"/>
      <xs:enumeration value="ISL"/>
      <xs:enumeration value="IND"/>
      <xs:enumeration value="IDN"/>
      <xs:enumeration value="IRN"/>
      <xs:enumeration value="IRQ"/>
      <xs:enumeration value="IRL"/>
      <xs:enumeration value="IMN"/>
      <xs:enumeration value="ISR"/>
      <xs:enumeration value="ITA"/>
      <xs:enumeration value="JAM"/>
      <xs:enumeration value="JPN"/>
      <xs:enumeration value="JEY"/>
      <xs:enumeration value="JOR"/>
      <xs:enumeration value="KAZ"/>
      <xs:enumeration value="KEN"/>
      <xs:enumeration value="KIR"/>
      <xs:enumeration value="PRK"/>
      <xs:enumeration value="KOR"/>
      <xs:enumeration value="KWT"/>
      <xs:enumeration value="KGZ"/>
      <xs:enumeration value="LAO"/>
      <xs:enumeration value="LVA"/>
      <xs:enumeration value="LBN"/>
      <xs:enumeration value="LSO"/>
      <xs:enumeration value="LBR"/>
      <xs:enumeration value="LBY"/>
      <xs:enumeration value="LIE"/>
      <xs:enumeration value="LTU"/>
      <xs:enumeration value="LUX"/>
      <xs:enumeration value="MAC"/>
      <xs:enumeration value="MDG"/>
      <xs:enumeration value="MWI"/>
      <xs:enumeration value="MYS"/>
      <xs:enumeration value="MDV"/>
      <xs:enumeration value="MLI"/>
      <xs:enumeration value="MLT"/>
      <xs:enumeration value="MHL"/>
      <xs:enumeration value="MTQ"/>
      <xs:enumeration value="MRT"/>
      <xs:enumeration value="MUS"/>
      <xs:enumeration value="MYT"/>
      <xs:enumeration value="MEX"/>
      <xs:enumeration value="FSM"/>
      <xs:enumeration value="MDA"/>
      <xs:enumeration value="MCO"/>
      <xs:enumeration value="MNG"/>
      <xs:enumeration value="MNE"/>
      <xs:enumeration value="MSR"/>
      <xs:enumeration value="MAR"/>
      <xs:enumeration value="MOZ"/>
      <xs:enumeration value="MMR"/>
      <xs:enumeration value="NAM"/>
      <xs:enumeration value="NRU"/>
      <xs:enumeration value="NPL"/>
      <xs:enumeration value="NLD"/>
      <xs:enumeration value="NCL"/>
      <xs:enumeration value="NZL"/>
      <xs:enumeration value="NIC"/>
      <xs:enumeration value="NER"/>
      <xs:enumeration value="NGA"/>
      <xs:enumeration value="NIU"/>
      <xs:enumeration value="NFK"/>
      <xs:enumeration value="MNP"/>
      <xs:enumeration value="NOR"/>
      <xs:enumeration value="OMN"/>
      <xs:enumeration value="PAK"/>
      <xs:enumeration value="PLW"/>
      <xs:enumeration value="PSE"/>
      <xs:enumeration value="PAN"/>
      <xs:enumeration value="PNG"/>
      <xs:enumeration value="PRY"/>
      <xs:enumeration value="PER"/>
      <xs:enumeration value="PHL"/>
      <xs:enumeration value="PCN"/>
      <xs:enumeration value="POL"/>
      <xs:enumeration value="PRT"/>
      <xs:enumeration value="PRI"/>
      <xs:enumeration value="QAT"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="ROU"/>
      <xs:enumeration value="RUS"/>
      <xs:enumeration value="RWA"/>
      <xs:enumeration value="REU"/>
      <xs:enumeration value="BLM"/>
      <xs:enumeration value="SHN"/>
      <xs:enumeration value="KNA"/>
      <xs:enumeration value="LCA"/>
      <xs:enumeration value="MAF"/>
      <xs:enumeration value="SPM"/>
      <xs:enumeration value="VCT"/>
      <xs:enumeration value="WSM"/>
      <xs:enumeration value="SMR"/>
      <xs:enumeration value="STP"/>
      <xs:enumeration value="SAU"/>
      <xs:enumeration value="SEN"/>
      <xs:enumeration value="SRB"/>
      <xs:enumeration value="SYC"/>
      <xs:enumeration value="SLE"/>
      <xs:enumeration value="SGP"/>
      <xs:enumeration value="SXM"/>
      <xs:enumeration value="SVK"/>
      <xs:enumeration value="SVN"/>
      <xs:enumeration value="SLB"/>
      <xs:enumeration value="SOM"/>
      <xs:enumeration value="ZAF"/>
      <xs:enumeration value="SGS"/>
      <xs:enumeration value="SSD"/>
      <xs:enumeration value="ESP"/>
      <xs:enumeration value="LKA"/>
      <xs:enumeration value="SDN"/>
      <xs:enumeration value="SUR"/>
      <xs:enumeration value="SJM"/>
      <xs:enumeration value="SWE"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="SYR"/>
      <xs:enumeration value="TWN"/>
      <xs:enumeration value="TJK"/>
      <xs:enumeration value="TZA"/>
      <xs:enumeration value="THA"/>
      <xs:enumeration value="TLS"/>
      <xs:enumeration value="TGO"/>
      <xs:enumeration value="TKL"/>
      <xs:enumeration value="TON"/>
      <xs:enumeration value="TTO"/>
      <xs:enumeration value="TUN"/>
      <xs:enumeration value="TUR"/>
      <xs:enumeration value="TKM"/>
      <xs:enumeration value="TCA"/>
      <xs:enumeration value="TUV"/>
      <xs:enumeration value="UGA"/>
      <xs:enumeration value="UKR"/>
      <xs:enumeration value="ARE"/>
      <xs:enumeration value="GBR"/>
      <xs:enumeration value="UNK"/>
      <xs:enumeration value="UMI"/>
      <xs:enumeration value="USA"/>
      <xs:enumeration value="URY"/>
      <xs:enumeration value="UZB"/>
      <xs:enumeration value="VUT"/>
      <xs:enumeration value="VEN"/>
      <xs:enumeration value="VNM"/>
      <xs:enumeration value="VGB"/>
      <xs:enumeration value="VIR"/>
      <xs:enumeration value="WLF"/>
      <xs:enumeration value="ESH"/>
      <xs:enumeration value="YEM"/>
      <xs:enumeration value="ZMB"/>
      <xs:enumeration value="ZWE"/>
      <xs:enumeration value="ALA"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Section 7.3.2 StateCodeType -->
  <xs:simpleType name="StateCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AL" />
      <xs:enumeration value="AK" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="CT" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="HI" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="IA" />
      <xs:enumeration value="KS" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="ME" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MI" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NV" />
      <xs:enumeration value="NH" />
      <xs:enumeration value="NJ" />
      <xs:enumeration value="NM" />
      <xs:enumeration value="NY" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="ND" />
      <xs:enumeration value="OH" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="RI" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TX" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="VT" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="WA" />
      <xs:enumeration value="WV" />
      <xs:enumeration value="WI" />
      <xs:enumeration value="WY" />
      <!-- American territories codes -->
      <xs:enumeration value="AS" />
      <!-- American Samoa -->
      <xs:enumeration value="GU" />
      <!-- Guam -->
      <xs:enumeration value="MH" />
      <!-- Marshall Islands -->
      <xs:enumeration value="FM" />
      <!-- Micronesia -->
      <xs:enumeration value="MP" />
      <!-- Northern Marianas -->
      <xs:enumeration value="PW" />
      <!-- Palau -->
      <xs:enumeration value="PR" />
      <!-- Puerto Rico-->
      <xs:enumeration value="VI" />
      <!-- Virgin Islands -->
      <!-- Armed Forces codes -->
      <xs:enumeration value="AA" />
      <!-- Armed Forces Americas -->
      <xs:enumeration value="AE" />
      <!-- Armed Forces Europe -->
      <xs:enumeration value="AP" />
      <!-- Armed Forces Pacific -->
    </xs:restriction>
  </xs:simpleType>

</xs:schema>