Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.unclaimed.org/NAUPA-3"
           xmlns="http://www.unclaimed.org/NAUPA-3"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
           
	<xs:include schemaLocation="Common.xsd" />
	<xs:include schemaLocation="Property.xsd" />
	
    <!--
    Named simple types section _NSTS
    -->
    
    <xs:simpleType name="YearType">
        <xs:annotation>
            <xs:documentation>
                Four-digit year.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    
    <!--
    Complex types section _CTS
    -->
    
    <xs:complexType name="ReportAdjustmentType">
        <xs:sequence>
            <xs:element name="Type" type="ReportAdjustmentTypeType">
                <xs:annotation>
                    <xs:documentation>
                        Utilize the two character adjustment code as set forth in the appendix which most closely
                        describes the nature of the adjustment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="CurrencyType">
                <xs:annotation>
                    <xs:documentation>
                        Dollar amount of the adjustment resulting in net amount reported.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
        
    <!-- TODO:
    	Is the report summary really a good idea?  It basically amounts to a sanity check on the rest of the data,
    	which would seem to be of marginal if any value.  If the numbers herein disagree with those derived from the
    	report data, should the report be rejected?  If not, what purpose does this data serve?  If so, I suspect
    	many users will be unhappy on both the sending and receiving side.
    -->
    <xs:complexType name="ReportSummaryType">
        <xs:annotation>
            <xs:documentation>
                Summary information for an individual holder report.  This parallels the NAUPA-II report summary,
                which could have only one holder report within it.
            </xs:documentation>
        </xs:annotation>
        <!-- TODO:
        	If we do keep the summaries, these descriptions from the spreadsheet don't sound right for the report-level
        	summary.
        -->
        <xs:sequence>
		            <xs:element name="DatePrepared" type="DateType">
		                <xs:annotation>
		                    <xs:documentation>
		                        <!-- TODO:
		                        	How would these dates actually be recorded?  If they are to be recorded
		                        	automatically when the file is saved/generated, then report and remittance dates
		                        	would be the same.  If they must be set manually, it seems very likely that they
		                        	would be inaccurate.
									
									Do we really need this at the report level, or would the remittance-level
									DatePrepared suffice?
		                        -->
		                        Report:  This field should contain the date this NAUPA file was created. The date should be
		                        recorded in MM-DD-YYYY format.
		                            
		                        Remittance: This field should contain the date the NAUPA file was remitted to the state.
		                        The date should be recorded in MM-DD-YYYY format.
		                    </xs:documentation>
		                </xs:annotation>
		            </xs:element>
            <xs:element name="NumberOfProperties">
                <xs:annotation>
                    <xs:documentation>
                    <!-- TODO:  review -->
                        Report:  This field should contain the total number of PROPERTY records for ALL reports
                        included in this NAUPA file in the ReportNumberOfProperties field.  The number of property
                        records is a X-digit field.
                            
                        Remittance:  This field should be the grand total sum of properties in the
                        RemittanceNumberOfProperties field for each PROPERTY record for ALL reports included in
                        this NAUPA file. The number of shares is a X-digit field with four decimal places assumed.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
		                 <!-- TODO:  Increase this for NAUPA-III? -->
		                 <xs:totalDigits value="6"/>
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
            <xs:element name="TotalAmountReported">
                <xs:annotation>
                    <xs:documentation>
                        Report:  This field should be the total sum of the amounts in the CASHREPORTEDAMOUNT field
                        for each PROPERTY record for ALL reports included in this NAUPA file. The amount reported
                        is a X-digit field.
                            
                        Remittance:  This field should be the grand total sum of the amounts in the
                        CASHREPORTEDAMOUNT field for each PROPERTY record for ALL reports included in this NAUPA
                        file. The amount reported is a X-digit field with two decimal places assumed.
                    </xs:documentation>
                </xs:annotation>
				<!-- TODO:  Use CurrencyType? -->
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
		                 <!-- TODO:  review this -->
		                 <xs:totalDigits value="12"/>
                          <xs:fractionDigits value="2" />
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
            <xs:element name="TotalAdjustments">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  No descriptions in current version of spreadsheet. -->
                    </xs:documentation>
                </xs:annotation>
				<!-- TODO:  Use CurrencyType? -->
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
		                 <!-- TODO:  review this -->
		                 <xs:totalDigits value="12"/>
                          <xs:fractionDigits value="2" />
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
            <xs:element name="TotalAmountRemitted">
                <xs:annotation>
                    <xs:documentation>
                    <!-- TODO:  Review. -->
                        Report:  This field should be the total sum of the amounts in the CASH REMITTED AMOUNT
                        field for each PROPERTY record for ALL reports included in this NAUPA file. The amount
                        remitted is a X-digit field with two decimal places.
                            
                        Remittance:This field should be the total sum of the amounts in the CASH REMITTED field
                        for each PROPERTY record for ALL reports included in this NAUPA file. The amount remitted
                        is a X-digit field with two decimal places.
                    </xs:documentation>
                </xs:annotation>
				<!-- TODO:  Use CurrencyType? -->
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
		                 <!-- TODO:  review this -->
		                 <xs:totalDigits value="12"/>
                          <xs:fractionDigits value="2" />
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
            <xs:element name="TotalSharesReported">
                <xs:annotation>
                    <xs:documentation>
                    <!-- TODO:  Review. -->
                        Report:  This field should be the total sum of amounts in the REPORTEDSHARES field for
                        each PROPERTY record for ALL reports included in this NAUPA file. The number of shares
                        is a X-digit field with four decimal places assumed.
                            
                        Remittance:  This field should be the total sum of amounts in the REPORTEDSHARES field
                        for each PROPERTY record for ALL reports included in this NAUPA file. The number of shares
                        is a X-digit field with four decimal places assumed.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
		                 <!-- TODO:  review this -->
		                 <xs:totalDigits value="12"/>
                          <xs:fractionDigits value="4" />
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
            <xs:element name="TotalSharesRemitted">
                <xs:annotation>
                    <xs:documentation>
                        Report:  This field should be the total sum of amounts in the REMITTEDSHARES field for
                        each PROPERTY record for ALL reports included in this NAUPA file. The number of shares
                        is a X-digit field with four decimal places assumed.
                            
                        Remittance:  This field should be the total sum of amounts in the REMITTEDSHARES field
                        for each PROPERTY record for ALL reports included in this NAUPA file. The number of shares
                        is a X-digit field with four decimal places.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
		                 <!-- TODO:  review this -->
		                 <xs:totalDigits value="12"/>
                          <xs:fractionDigits value="4" />
                    </xs:restriction>
                  </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReportType">
        <xs:sequence>
            <xs:element name="Year" type="YearType">
                <xs:annotation>
                    <xs:documentation>
                        Enter the four-digit year for which the property is being reported. To determine the
                        correct year, consult the state's unclaimed property reporting instructions.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AsOfDate" type="DateType">
                <xs:annotation>
                    <xs:documentation>
                        Bankruptcy date, audit date, reporting period ending, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HIPAAIndicator" type="IndicatorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO: redo description in terms of IndicatorType -->
                        Report contains information subject to HIPAA regulations.  Field should contain YES or NO.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductionReport" type="IndicatorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO: redo description in terms of IndicatorType -->
                        Indicate if this is a production report, enter YES for production, NO for test data.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Type" type="ReportTypeType">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO: description needs to be updated: "A", "R" and "T" are no longer used. -->
                        a) Advertising Report: This field should be populated with "A" to denote that this is an
                        advertising report meaning no money or property is being remitted at this time. This is
                        for states on a two-cycle reporting schedule. Please contact your reporting state before
                        submitting an advertising report. b) Remittance Report: This field should be populated
                        with "R" to denote that this is an remittance report, i.e., money and/or property are
                        being remitted at this time. c) Test Report: This field should be populated with "T" to
                        denote that this is a test file. By indicating that this is a test file, the data should
                        not be considered an actual report. This permits the submission of files to be tested by
                        the states before actual submission by the holder of an actual report. Could be expanded
                        to include indicators that report is a result of reciprocity, bankruptcy, audit. Need to
                        address holders reporting on behalf of subsidiaries?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Contact" type="ContactType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <!--  TODO: description -->
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Property" type="PropertyType">
                <xs:annotation>
                    <xs:documentation>
                        <!--  TODO: description -->
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adjustment" type="ReportAdjustmentType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <!-- TODO:  description -->
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- TODO:
            	If the remittance-level summary does not agree with the report-level summaries (and the raw data),
                should the remittance be rejected?  If not, is the remittance-level summary really of any use?
                This was discussed in one of the general committee meetings, but no conclusion was reached.
                
            	If we do keep this, see TODOs on ReportSummaryType.
            -->
            <xs:element name="ReportSummary" type="ReportSummaryType">
                <xs:annotation>
                    <xs:documentation>
                            Summary for this holder report.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NegativeReport" type="IndicatorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Presence indicates a negative report.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!--
    Enumerated types section _ETS
    -->
    
    <xs:simpleType name="ReportTypeType">
        <xs:annotation>
            <xs:documentation>
                Types of reports.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
			<!-- TODO:  Where should we use ALL CAPS vs. not?-->
            <xs:enumeration value="ADVERTISING">
                <xs:annotation>
                    <xs:documentation>Advertising</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REMITTANCE">
                <xs:annotation>
                    <xs:documentation>Remittance</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEST">
                <xs:annotation>
                    <xs:documentation>Test</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ReportAdjustmentTypeType">
        <xs:annotation>
            <xs:documentation>
            <!-- TODO:  description -->
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Audit Fees">
                <xs:annotation>
                    <xs:documentation>Audit Fees</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Estimate or Prepayment">
                <xs:annotation>
                    <xs:documentation>Estimate or Prepayment</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Out of Proof Cash">
                <xs:annotation>
                    <xs:documentation>Out of Proof Cash</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Out of Proof Shares">
                <xs:annotation>
                    <xs:documentation>Out of Proof Shares</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>